<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <div>
            <img src="/images/LarcVEC175.png" width="40" height="40" />
            <a class="navbar-brand" href="">The Laurel VEC</a>
        </div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="examschedule">
                <span class="oi oi-plus" aria-hidden="true"></span> Exam Schedule
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="veteams">
                <span class="oi oi-list-rich" aria-hidden="true"></span> VE Teams
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aboutLaurel">
                <span class="oi oi-list-rich" aria-hidden="true"></span> About the Laurel VEC
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="faq">
                <span class="oi oi-list-rich" aria-hidden="true"></span> FAQ
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BecomeAVE">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Become a VE
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="joinLaurel">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Join Laurel VEC
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="didyouknow">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Did You Know
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="amateurRadioLinks">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Amateur Radio Links
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="officers">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Officers, Contacts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teamResources">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Team Leader Resources
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
