@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<style>
    .first {
        max-width: 150px;
        margin-right: 10px
    }
    .mi {
        max-width: 40px;
        margin-right: 10px
    }

    .last {
        max-width: 150px;

    }
    .name {
        grid-area: name;  
    }
    .name-row {
        display: flex;
    }

    .frn {
        grid-area: frn;
    }

    .email {
        grid-area: email;
    }

    .password {
        grid-area: password;
    }

    .confirm {
        grid-area: confirm;
    }

    .address1 {
        grid-area: address1;
    }

    .address2 {
        grid-area: address2;
    }

    .city {
        grid-area: city;
    }

    .state {
        grid-area: state;
    }

    .zip {
        grid-area: zip;
    }

    .felony {
        grid-area: felony;
    }

    .active {
        grid-area: active;
    }
    .wrapper {
        display: grid;
        padding: 15px;
        margin: 10px;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "email         frn        ."
            "password       .         ."
            "confirm        .         ."
            "name           name      name"
            "address1       address1  address1"
            "address2       address2  address2"
            "city         state       zip"
            "felony        active     active";
    }
    
</style>
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="wrapper">
                <div class="email">
                    <label asp-for="Input.Email">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />

                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="frn">
                    <label asp-for="Input.FrnNum">FRN Number</label>
                    <input asp-for="Input.FrnNum" class="form-control" aria-required="true" placeholder="FRN Number" />
                </div>

                <div class="password">
                    <label asp-for="Input.Password">Password</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="confirm">
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

 
                <div class="name">
                    <div class="name-row">
                        <div class="first">
                        <label asp-for="Input.FirstName">First Name</label>
                        <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="First Name" />
                        </div>
                        <div class="mi">
                        <label asp-for="Input.MiddleInitial">MI</label>
                        <input asp-for="Input.MiddleInitial" class="form-control" aria-required="true" placeholder="MI" />
                        </div>
                        <div class="last">
                        <label asp-for="Input.LastName">Last Name</label>
                        <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="Last Name" />
                        </div>
                    </div>
                </div>

                <div class="address1">
                    <label asp-for="Input.LastName">Address</label>
                    <input asp-for="Input.Address1" class="form-control" aria-required="true" placeholder="Address" />
  
                </div>

                <div class="address2">
                    <input asp-for="Input.Address2" class="form-control" aria-required="true" placeholder="Addrees 2" />
                    @* <label asp-for="Input.LastName">Last Name</label> *@
                </div>
                <div class="city">
                    <label asp-for="Input.City">City</label>
                    <input asp-for="Input.City" class="form-control" aria-required="true" placeholder="City" />
  
                </div>
                <div class="state">
                    <label asp-for="Input.State">State</label>
                    <input asp-for="Input.State" class="form-control" aria-required="true" placeholder="State" />

                </div>

                <div class="zip">
                    <label asp-for="Input.ZipCode">Zip Code</label>
                    <input asp-for="Input.ZipCode" class="form-control" aria-required="true" placeholder="Zipcode" />

                </div>

                <div class="form-check felony">
                    <label asp-for="Input.Felony" class="form-check-label">Felony Conviction</label>
                    <input asp-for="Input.Felony" type="checkbox" class="form-check-input" aria-required="true" />

                </div>

                <div class="form-check active">
                    <label asp-for="Input.ActiveApp" class="form-check-label">Active FCC application</label>
                    <input asp-for="Input.ActiveApp" type="checkbox" class="form-check-input" aria-required="true" />

                </div>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
